<div fxLayout="column" fxFlex>

  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Angular Material</span>
      <span fxFlex></span>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container fxFlex fxLayout="row">
    <mat-sidenav mode="over" [(opened)]="openeSidenav">
      Sidenav {{openeSidenav}}
      <button mat-button (click)="confirmOTP()">OTP Confirm</button>

    </mat-sidenav>
    <div class="content" fxLayout="row" fxLayout.sm="column" fxLayoutGap="16px">
      <button mat-button (click)="login()">
        Login
      </button>
      <ul>
        <li *ngFor="let person of login$ | async">
          {{person.name}}
        </li>
      </ul>
    </div>
  </mat-sidenav-container>

</div>

<router-outlet></router-outlet>