{{ channelList | json }}
<h1>Extra Layer of Security</h1>
<button mat-button>close<i class="material-icons">close</i></button>
<h3>Please select your 2-factor authentication method</h3>
<!-- <button mat-raised-button color="primary" (click)="confirmChannel()">getChannels</button> -->
<form [formGroup]="rForm" (ngSubmit)="generateOtp(rForm.value)">
  <mat-form-field *ngIf="channelList">
    <mat-select placeholder="Channels" formControlName="channel">
      <mat-option *ngFor="let channel of objectKeys(channelList)" [value]="channel">
        {{ channel }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-raised-button color="primary" type="submit" value ="submit" [disabled]="!rForm.valid">Submit</button>
</form>