<h1>Extra Layer of Security</h1>
<h3>Please select your 2-factor authentication method</h3>

<form [formGroup]="rForm" (ngSubmit)="confirmChannel(rForm.value)">
  <mat-form-field>
    <mat-select placeholder="Channels" formControlName="channel">
      <mat-option *ngFor="let key of objectKeys(channelSelection)" [value]="key">
        {{ channelSelection[key] }}

      </mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-raised-button color="primary" type="submit" value ="submit" [disabled]="!rForm.valid">Submit</button>
</form>